html{
  display: grid;
}
nav{
  box-shadow: white;
  color: white;
  grid-area: header;
}
body{
    background-color: black;
    background-image: url(https://th.bing.com/th/id/R38e9d9edac21b87b83e6242abfd4010e?rik=LUUDcHGuctNGMQ&riu=http%3a%2f%2f1.bp.blogspot.com%2f-JJVPnzvoEPM%2fT32OEM8qrxI%2fAAAAAAAABzE%2fukA-IzNpkB0%2fs1600%2fAbstract%2bNeon%2bWallpapers%2b1.jpg&ehk=DH6o4QszbTZghKy84QgwfMrDIyJnWwIO9Nm9PodYCDY%3d&risl=&pid=ImgRaw);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: right 50% bottom 50%;; */
    /* align-items: center; */
    display: flex;
    justify-content: center;
}
.welcome-wrapper{
    align-items: center;

}
#welcome-message{
    width: 400px;
    height: 100px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 5px red;
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: 10;
    align-items: center;
    font-family: "Audiowide", sans-serif;
      
}
@keyframes example {
    12.5% {
        color: #FF0000;
        text-shadow: 5px 5px 5px #FF0000;
        text-shadow: -5px -5px 5px #FF0000;
      }
      25% {
        color: #FFA500;
        text-shadow: 5px 5px 5px #FFA500;
        text-shadow: -5px -5px 5px #FFA500;
      }
      37.5% {
        color: #FFFF00;
        text-shadow: 5px 5px 5px #FFFF00;
        text-shadow: -5px -5px 5px #FFFF00;
      }
      50% {
        color: #7FFF00;
        text-shadow: 5px 5px 5px #7FFF00;
        text-shadow: -5px -5px 5px #7FFF00;
      }
      62.5% {
        color: #00FFFF;
        text-shadow: 5px 5px 5px #00FFFF;
        text-shadow: -5px -5px 5px #00FFFF;
      }
      75% {
        color: #0000FF;
        text-shadow: 5px 5px 5px #0000FF;
        text-shadow: -5px -5px 5px #0000FF;
      }
      87.5% {
        color: #9932CC;
        text-shadow: 5px 5px 5px #9932CC;
        text-shadow: -5px -5px -5px #9932CC;
      }
      100% {
        color: #FF1493;
        text-shadow: 5px 5px 5px #FF1493;
        text-shadow: 5px 5px 5px #FF1493;
      }
    /* from {color:   rgb(255, 0, 0);}
    to {color: rgb(255, 136, 0)}
    from {color: rgb(255, 136, 0)}
    to {color: rgb(255, 230, 0)}
    from {color: rgb(255, 230, 0)}
    to {color: rgb(21, 255, 0)}
    from {color: rgb(21, 255, 0)}
    to {color: rgb(0, 255, 242)}
    from {color: rgb(0, 255, 242)}
    to {color: rgb(0, 26, 255)}
    from {color: rgb(0, 26, 255)}
    to {color: rgb(153, 0, 255)}
    from {color: rgb(153, 0, 255)}
    to {color: rgb(255, 0, 212)}
    /* from {color: rgb(255, 0, 212)}
    to {color: rgb(255, 0, 0)}     */ 
}
h2{
    color: white;
}
.song-wrapper{
    background-color: black;
    display: grid;
    border-radius: 30px;
    width: 400px;
    border-radius: 300px;
    margin-right: 100px;   
     /* opacity: 0.7; */
     grid-area: right;
}
/* .song-wrapper:hover{
    opacity: 8.0;
} */
.song-section{
    background-image: url(https://th.bing.com/th/id/OIP.isEz6hcwM2GupwqgETnWCgHaB7?w=341&h=90&c=7&o=5&dpr=1.5&pid=1.7);
    background-repeat: no-repeat;
    background-position: center;
    
    /* background-size: cover;
    background-repeat: no-repeat; */
    background-color: black;
    border: 10px blue;
    padding: 10px;
    margin: 20px;
    overflow: auto;
    border-radius: 200px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    height: 350px;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    /* opacity: 0.5;s */
}
    /* transform: rotate(0deg);
    animation-name: rotate-background;
    animation-duration: 0.5s;
    animation-iteration-count: 10;
}

@keyframes rotate-background{
  from {transform: rotate(0deg)}
    to {transform: rotate(361deg);}
} */

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
h3 {
    color: red;
    align-self: center;
}
.individual-song-section{
    /* background-image: url(https://th.bing.com/th/id/OIP.isEz6hcwM2GupwqgETnWCgHaB7?w=341&h=90&c=7&o=5&dpr=1.5&pid=1.7);
    background-repeat: no-repeat; */
    background-position: center;
    background-color: black;
    border: 5px red;
    padding: 30px;
    margin: 30px;
    height: 230px;
    width: 220px;
    border-radius: 200px;
    justify-content: center;
    opacity: 0.8;
    z-index: 2;
    transform: rotate(0deg);
}
    /* animation-name: rotate-small;
    animation-duration: 0.5s;
    animation-iteration-count: 10;
}
@keyframes rotate-small{
  from {transform: rotate(0deg)}
    to {transform: rotate(-360deg);}
  } */
/* 

} */
.individual-song-section p{
    color: white;
    opacity: 1;
    
    
}
.individual-song-section:hover{
    opacity: 1;
}


.submit:hover{
    background-color: green;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.profile-section{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    opacity: 0.3;
  }
  .flip-card:hover{
    opacity: 1;
    box-shadow: 0 0 10px #00ff0a,
    0 0 20px #00ff0a,
    0 0 40px #00ff0a,
    0 0 60px #00ff0a,
    0 0 80px #00ff0a,
    0 0 100px #00ff0a;
animation: anima 2s linear infinite;
}
@keyframes anima{
0%{
filter: hue-rotate(0deg);
}
100%{
filter: hue-rotate(360deg);
}
}
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transition-delay: 1s;
    transform: rotateY(180deg);
    
  }
  

  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: black;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
  }
  .profile-message{
    color: white;
  }
  .profile-challenge-message{
    color: white;
  }
  .challenges-completed{
    color: white;
  }
  .challenges-to-be-completed{
    color: white;
  }
footer p{
  color: white;
}


/* Loader Function!!!!!!!!!!!!!!!!!!!!!!!! */
/* Here We Go! */
.loader-section{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background:; */
  animation: animateBg 5s linear infinite;
  /* animation-duration: 3s; */
  /* opacity: 0.5; */
}
@keyframes animateBg{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.loader{
  position: relative;
  width: 120px;
  height: 120px;
  
}
.loader span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}
.loader span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ff0a;
  box-shadow: 0 0 10px #00ff0a,
              0 0 20px #00ff0a,
              0 0 40px #00ff0a,
              0 0 60px #00ff0a,
              0 0 80px #00ff0a,
              0 0 100px #00ff0a;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s * var(--i)); 
}
 @keyframes animate{
  0%{
    transform: scale(1);
  }
  80%,100%{
    transform: scale(0);
  }
}


/* Lets Make a Button THingy */
.submit{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 40px 0;
  color: #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
}
.submit:hover{
  background:#03e9f4 ;
  color: black;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  animation: aniButt 2s infinite;
}
@keyframes aniButt{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.submit{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 40px 0;
  color: #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
}
.submit:hover{
  background:#03e9f4 ;
  color: black;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  animation: aniButt 2s infinite;
}
@keyframes aniButt{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.yes-button{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 40px 0;
  color: #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
}
.yes-button:hover{
  background:#03e9f4 ;
  color: black;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  animation: aniButt 2s infinite;
}
@keyframes aniButt{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.no-button{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 40px 0;
  color: #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
}
.no-button:hover{
  background:#03e9f4 ;
  color: black;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  animation: aniButt 2s infinite;
}
@keyframes aniButt{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.checkout-songs-button{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 40px 0;
  color: #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
}
.checkout-songs-button:hover{
  background:#03e9f4 ;
  color: black;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  animation: aniButt 2s infinite;
}
@keyframes aniButt{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.checkout-challengers{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 40px 0;
  color: #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
}
.checkout-challengers:hover{
  background:#03e9f4 ;
  color: black;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  animation: aniButt 2s infinite;
}
@keyframes aniButt{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.profile-button{
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  margin: 40px 0;
  color: #03e9f4;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
}
.profile-button:hover{
  background:#03e9f4 ;
  color: black;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  animation: aniButt 2s infinite;
}
@keyframes aniButt{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.accept-challenge-button{
  position: relative;
  display: inline-block;
  padding: 5px 5px;
  margin: 5px 0;
  color: #03e9f4;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
}
.accept-challenge-button:hover{
  background:#03e9f4 ;
  color: black;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  animation: aniButt 2s infinite;
}
@keyframes aniButt{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
