nav {
    display: block;
  };

.welcome-section{
    color: blue;
  };

/* .profile-section{
      
};

.song-section{
      
};

.challenge-section{
      
}; */

body {
    color: blue;
};

p {
    color: blue;
};